<!DOCTYPE html>
<html>
<head><title>Game Board</title></head>
<body>
    <h1>Game Board</h1>
    <p>Spaces: {{ spaces }}</p>
    <p>Evil Ghosts: {{ evil_ghosts }}</p>
    <p>Friendly Ghosts: {{ friendly_ghosts }}</p>
    <p>Player 1 Position: {{ session['player1_pos'] }}</p>
    <p>Player 2 Position: {{ session['player2_pos'] }}</p>
    <p>Current Turn: Player {{ session['turn'] }}</p>
    <form method="POST" action="/roll">
        <button type="submit">Roll Dice</button>
    </form>
</body>
</html>


<!DOCTYPE html>
<html>
<head><title>Game Over</title></head>
<body>
    <h1>{{ winner }}</h1>
    <a href="/">Play Again</a>
</body>
</html>


